<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/08dd69db75.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:fragment="navigation">
        <nav class="navigation">
            <ul>
                <li class="flex-center title">
                    <div>
                        <p class="logo">WEB BROKER</p>
                    </div>
                </li>
                <li class="flex-center">
                    <i class="fa-solid fa-user fa-2xl"></i>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>